<footer class="site-footer container">
    {{#if @site.secondary_navigation}}
        <nav class="footer-nav">
            {{navigation type="secondary"}}
        </nav>
    {{/if}}
    <div class="footer-social">
        {{#if @site.facebook}}
            <a class="footer-social-item footer-social-item-facebook"
                href="{{facebook_url @site.facebook}}" target="_blank"
                rel="noopener noreferrer" aria-label="Facebook">
                <i class="icon icon-facebook"></i>
                <br/>
                <span class="menu-item menu-item-contact">Rejoindre le petit troupeau sur Facebook pour échanger, s'informer, participer, ...</span>
            </a>
            <br/>
            <a class="footer-social-item footer-social-item-facebook" href="mailto:coucou@petitmouton.me">
                <span class="menu-item menu-item-contact">coucou@petitmouton.me</span>
            </a>
        {{/if}}
        {{#if @site.twitter}}
            <a class="footer-social-item footer-social-item-twitter"
                href="{{twitter_url @site.twitter}}" target="_blank"
                rel="noopener noreferrer" aria-label="Twitter">
                <i class="icon icon-twitter"></i>
            </a>
        {{/if}}
    </div>
</footer>