.featured-wrapper .owl-item {
    transition: opacity 0.2s var(--animation-base);
}

.featured-wrapper .owl-stage:hover .owl-item {
    opacity: 0.5;
}

.featured-wrapper .owl-stage:hover .owl-item:hover {
    opacity: 1;
}

.featured-wrapper {
    margin: 30px 0 90px;
}

.featured-wrapper .featured-container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.featured-wrapper .post {
    background-color: var(--ghost-accent-color);
    display: flex;
    flex-basis: calc(34% - 30px);
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.featured-wrapper .post-title-link {
    color: var(--white-color);
    text-align: center;
}

.featured-wrapper .post-tag {
    margin: 0;
}

.featured-header {
    margin-bottom: 45px;
}

.featured-title {
    color: var(--primary-color);
}

@media (max-width: 767px) {
    .featured-wrapper {
        margin-top: 0;
        margin-bottom: 60px;
    }

    .featured-wrapper .post-header {
        margin-bottom: 15px;
    }

    .featured-wrapper .owl .owl-prev,
    .featured-wrapper .owl .owl-next {
        top: -71px;
    }

    .featured-header {
        margin-bottom: 30px;
    }
}
